Package: einfo
Version: 1.0
Section: main
Priority: optional
Architecture: all
Depends: python-efl, python-efl-backsupport, smartmontools, python-dmidecode
Maintainer: Anthony Cervantes
Description: eInfo (System Information)
 A simple Elm program to give detailed system information.
